
      body {
        background-color:rgb(0, 0, 0);
      }
      h1 {
            color:rgb(255, 255, 255);
      }
      p {
          color:rgb(255, 255, 255);
        }
      #links {
        text-decoration:underline;
        color:rgb(255, 255, 255);
      }
      .dotaheroes{
        display: none;
        position:absolute;
        min-width:200%;
        z-index:1;
      }

      #verboden_in_casino {
         
      }
      #boomers {
        
      }
      #very_scary_mister {
        
      }
      #siren {
        
      }
      #ik_of_wij?{
       
      }
      #sir_spells_a_lot{
        
      }
      #oracle {
      background-color:rgb(0, 0, 0);
      border:none;
      #oracle:hover #verboden_in_casino{diplay:block}
      color:rgb(255, 255, 255);
      }
      
         .buttons {
        background-color:rgb(0, 0, 255);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: not-allowed;
         }
