/*from low prior to high prior*/
      body {
        background-color:rgb(0, 0, 0);
      }


      h1, p, ol, ul, li {
          color:rgb(255, 255, 255);
        }
      th, td {
            border-style:hidden;
      }
       table {
            color:rgb(255, 255, 255);
            background-color:rgb(54, 69, 79);
            width:600px;
       }

      tr:nth-child(even) {
            background-color:black;     
      }
      /*class*/
        .DotA {
        width:16%;  
        }

         .buttons {
        background-color:rgb(0, 0, 255);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: not-allowed;
         }
/*id*/
      #mono {
          font-family: 'Courier New', monospace;
      }
      #Times {
            font-family: 'Times New Roman', serif;
      }
      #Verdana {
              font-family: 'Verdana', sans-serif; 
      }
      #Arial {
            font-family:'Arial', sans-serif;
      }
      #courier {
            font-family: 'Courier New', monospace;
      }
      #links {
        text-decoration:underline;
        color:rgb(255, 255, 255);
        font-family:'Arial', sans-serif;
      }
      /*success met deze te vinden(ongeveer 1% kans)*/
      #fis {
            position:absolute;
            top:20%;
            left:20%;
            width:80%;
            height:auto;
      }
